MAD_PROD=

MESOS_HOST=
MESOS_PORT=

MARATHON_HOST=
MARATHON_PORT=

COLLECTOR_TYPE=influxdb | prometheus

INFLUXDB_HOST=
INFLUXDB_PORT=
INFLUXDB_USERNAME=
INFLUXDB_PASSWORD=
INFLUXDB_DATABASE=

PROMETHEUS_HOST=
PROMETHEUS_PORT=
PROMETHEUS_BASE_FILTER=
