extends layout.pug

block stylesheets
  link(href='/stylesheets/index.css', rel='stylesheet')

block javascripts
  script(src='/javascripts/index.js')

block content
  .jumbotron
    h1 Welcome to MAD
    p.lead Marathon Application Dashboard
    #search
      .input-group
        input.form-control(type="text", placeholder="/your/marathon/app/id")
        .input-group-btn
          a.btn.btn-success &nbsp;&nbsp;GO&nbsp;&nbsp;
    #extension
      a.btn.btn-default(href="/mad.user.js" role="button") Download Extension
      br
      small
        | Make sure you already installed 
        a(href="https://chrome.google.com/webstore/detail/dhdgffkkebhmkfjojejmpbldmpobfkfo") Tampermonkey
